.registration-section {
  background: url('/images/auth-v1-tree.png'), url('/images/auth-v1-tree-2.png'), url('/images/auth-v1-mask-light.png');
  background-position: left bottom 4%, right bottom 7%, bottom;
  background-repeat: no-repeat;
  background-size: 12%, 20%, 100%;

  button {
    width: 110px;
    height: 40px;

    &:hover {
      background-color: #fff !important;
      color: var(--purple-color);
      transition: all 0.4s;
    }
  }

  .forgot-password:hover {
    color: var(--purple-color) !important;
    transition: all 0.4s;
  }

  .otp-inputs {
    div {
      justify-content: center;
    }
    input {
      border: 1px solid #e6e7ea;
      margin: 0 8px !important;
      width: 55px !important;
      height: 60px !important;
      user-select: none;
      font-size: 26px;
      font-weight: 500;

      &:focus {
        border-color: var(--purple-color) !important;
      }
    }
  }

  .circle-container {
    width: 110px;
    height: 110px;
    background-color: #f8fbfd;
  }
}
