// jobs button css
.common-outline-btn {
  display: block;
  color: var(--base-link-color) !important;
  background: var(--label-color-white) !important;
  transition: 0.2s;
  border: 1px solid var(--base-link-color);
  border-radius: 4px !important;
  box-shadow: none !important;
  &:hover {
    color: var(--label-color-white) !important;
    background: var(--base-link-color) !important;
    border: 1px solid var(--base-link-color) !important;
  }
}

.common-btn {
  display: block;
  color: var(--label-color-white) !important;
  background-color: var(--base-link-color) !important;
  transition: 0.2s;
  border: 1px solid var(--base-link-color);
  border-radius: 4px;
  box-shadow: none !important;
  &:hover {
    color: var(--label-color-white) !important;
    background: var(--base-color-1) !important;
    border: 1px solid var(--base-color-1) !important;
  }
}
.common-fill-btn {
  display: block;
  color: var(--label-color-white) !important;
  background-color: var(--base-color-1) !important;
  transition: 0.2s;
  border: 1px solid var(--base-color-1);
  border-radius: 4px !important;
  box-shadow: none !important;
  &:hover {
    color: var(--label-color-white) !important;
    background: var(--base-link-color) !important;
    border: 1px solid var(--base-link-color) !important;
  }
}
