.btn-close-icon {
  border: 1px solid transparent;
  background: var(--label-color-white) !important;
}

.login-modal {
  .modal-dialog {
    max-width: 460px;
  }

  .modal-content {
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.1);
    // border-radius: 0px 0px 60px 0px;
    border: none;
  }

  .show-password-eye {
    top: 62%;
    right: 0;
  }

  textarea {
    min-height: 80px;
    resize: none;
  }
}

.form-input-field {
  height: 43px;
}

.form-input-field:focus {
  height: 43px;
  border-color: var(--base-color-1);
}

.jobs-form-field {
  height: 43px;
}
.jobs-form-field:focus {
  border-color: var(--card-border);
}

.job-apply-popup {
  .modal-content {
    background-image: url('/images/team-roster/apply-job-bg.svg');
    background-repeat: no-repeat;
    background-size: 20%;
  }
}

.mock-test-pause-icon {
  font-size: 63px !important;
}

.logout-alert-btn {
  padding: 8px 24px;
}

@media (max-width: 991px) {
  .login-modal {
    .modal-heading {
      font-size: 20px;
    }

    .modal-dialog {
      max-width: 500px !important;
    }
  }
}

@media (max-width: 769px) {
  .login-modal {
    .modal-dialog {
      max-width: 500px !important;
    }
  }
}
