.login-page {
  background: url('/images/dashboard-images/auth-v1-tree.png'), url('/images/dashboard-images/auth-v1-tree-2.png'),
    url('/images/dashboard-images/auth-v1-mask-light.png');
  background-position: left bottom 4%, right bottom 7%, bottom;
  background-repeat: no-repeat;
  background-size: 12%, 20%, 100%;
}

.circle-container {
  background-color:#EFF0F5 ;
  width: 100px !important;
  height: 100px !important;
}
.otp-inputs {
  div {
    justify-content: center;
  }
  input {
    border: 1px solid #e6e7ea;
    margin: 0 8px !important;
    width: 55px !important;
    height: 60px !important;
    user-select: none;
    font-size: 26px;
    font-weight: 500;

    &:focus {
      border-color: var(--base-link-color) !important;
    }

    &:focus-visible{
      outline-color: var(--base-link-color) !important;
    }
  }
}
