.overview-table {
  border-radius: 10px 10px 0px 0px;
  table {
    border: 0px !important;
    white-space: nowrap;
    thead {
      border: 1px solid var(--card-border) !important;
      tr {
        th {
          padding: 8px 14px !important;
          font-size: 14px !important;
          text-transform: capitalize !important;
          background: var(--base-link-color) !important;
          color: var(--label-color-white) !important;
          border-right: 1px solid var(--card-border) !important;
          font-weight: 600;
          &:last-child {
            th {
              border-right: 0px !important;
            }
          }
          button {
            border-radius: 10px !important;
            font-size: 14px !important;
            padding: 8px 12px;
          }
          &:nth-child(1) {
            // width: 60px !important;
          }
        }
      }
    }
    tbody {
      border: 1px solid #e8ebed !important;
      tr {
        td {
          border-right: 1px solid var(--card-border) !important;
          background: var(--label-color-white) !important;
          padding: 12px 15px !important;
          font-size: 13px !important;
          font-weight: 500;
          color: var(--base-color) !important;
          &:last-child {
            td {
              border-right: 0px !important;
            }
          }
        }
        &:nth-child(even) {
          td {
            background: var(--base-color-8) !important;
          }
        }
      }
    }
  }
}

.review-btn {
  z-index: 99;
}

.action-bar {
  .dropdown-menu {
    min-width: unset;
    width: 100%;
    inset: unset !important;
    transform: translate(0px, -70px) !important;
    .dropdown-item {
      background-color: var(--base-link-color);
      width: 30px;
      height: 30px;
      &:hover {
        transition: all 0.3s;
        color: var(--base-link-color) !important;
        background-color: #fff !important;
        border: 1px solid var(--base-link-color) !important;
      }
      &:hover a {
        transition: all 0.3s;
        color: var(--base-link-color) !important;
        background-color: #fff !important;
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 42%;
      top: 100%;
      transform: rotate(180deg);
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom-color: var(--base-link-color);
    }
  }
}

.user-bar {
  .dropdown-menu {
    width: 125px !important;
    transform: translate(-25px, -70px) !important;
    &:after {
      right: 36% !important;
    }
  }
}

.withdrawal-action-bar {
  .dropdown-menu {
    &:after {
      right: 34%;
    }
  }
}

.custom-select:focus-visible {
  outline: none !important;
}
.white-space-normal {
  white-space: normal;
}

.first-page {
  border-radius: 50%;
  padding: 5px 10px;
  &:hover {
    background-color: var(--base-link-color);
  }
}
.bg-success {
  color: #ffffff !important;
  background-color: #19b159 !important;
}

.search-input-box {
  .form-search-input {
    max-width: 300px;
    min-width: 300px;
    position: relative;
    height: 43px;
    border-radius: 4px;
    padding-left: 40px !important;
    border-color: var(--card-border) !important;
  }
  .search-icon {
    width: 30px;
    height: 40%;
    background: white;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    z-index: 99;
    cursor: pointer;
  }
}

.last-page {
  border-radius: 50%;
  padding: 0px 3px;
  &:hover {
    background-color: var(--base-link-color);
  }
}

.pagination-container {
  &.dots:hover {
    cursor: default;
  }
  .pagination-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    margin: auto 4px;
    color: var(--base-color);
    // box-shadow: 0px 3px 16px 0px rgb(35 47 62 / 15%) !important;
    border: 1px solid var(--card-border);
    display: flex;
    min-width: 32px;
    border-radius: 5px;

    &:hover {
      background-color: var(--base-link-color);
      border: 1px solid var(--base-link-color);
      color: #fff;
      cursor: pointer;
      .arrow {
        &::before {
          border-right: 2px solid #fff;
          border-top: 2px solid #fff;
        }
      }
    }
    &.selected {
      background-color: var(--base-link-color);
      border: 1px solid var(--base-link-color);
      color: #fff;
      z-index: 1;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
      &:hover {
        cursor: default;
      }
    }
  }
}

.table-btns {
  min-height: 15px;
  // width: 33px;
}
.active-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  width: 73px;
  height: 24px;
  font-size: 12px;
}

.dropdown-btns {
  height: 38px;
  padding: 10px;
}

.sweet-alert {
  p {
    .btn-link {
      display: inline-block;
      padding: 8px 30px !important;
      border-radius: 4px;
      text-decoration: none;
      background-color: var(--label-red);
      color: var(--label-color-white);
      transition: all 0.3s;
      font-size: 15px;
      &:hover {
        background: #f36374;
      }
    }
    .btn-danger {
      padding: 8px 20px !important;
      border: 1px solid var(--base-link-color) !important;
      border-radius: 4px;
      box-shadow: none !important;
      background: var(--base-link-color);
      font-size: 15px;
    }
    margin-bottom: 10px !important;
  }
}

.tabel-select-box {
  text-align: center;
  .form-check-input {
    width: 15px;
    height: 15px;
    border-color: var(--card-border);
    border-radius: 3px;
    &:focus {
      box-shadow: none;
      border-color: var(--card-border);
    }
    &:checked {
      background-color: var(--base-link-color);
      border-color: var(--base-link-color);
    }
  }
}

.bookfacility-table {
  .overview-table {
    min-height: 240px;
  }
}

@media (max-width: 767px) {
  .pagination-bar {
    margin-left: 0px;
  }
}
