.dashboard-home-card {
  .booking-image {
    img {
      max-width: 80px;
      transform: scale(1);
    }
  }
  &:hover {
    transform: translateY(-4px);
    border-color: var(--base-color-8);
    .booking-image {
      img {
        max-width: 80px;
        transform: scale(1.05);
      }
    }
  }
  .home-card-heading {
    font-size: 38px;
  }
}

.transition {
  transition: all 0.3s;
}

.doughnut-chart {
  width: 375px;
}
@media (max-width: 991px) {
  .dashboard-home-card {
    .home-card-heading {
      font-size: 28px;
    }
  }
}
