.dropdown-container {
  text-align: left;
  //   border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
}

.custom-select-box {
  min-height: 50px;
  font-size: 14px;
  font-weight: 400;
  color: var(--base-color-2);
  border: 1px solid var(--card-border);
  border-radius: 4px;
  padding-left: 12px;
  user-select: none;
  &::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('/images/team-roster/arrow-down.svg') no-repeat;
    background-size: cover;
  }
}
.select-dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid var(--card-border);
  border-radius: 5px;
  overflow: auto;
  max-height: 190px;
  background-color: #fff;
  z-index: 2;
}

.dropdown-selected-value {
  font-size: 14px;
}
.select-dropdown-item {
  padding: 8px 10px;
  color: var(--base-color-3);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-height: 32px;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.select-dropdown-item:hover {
  background-color: var(--base-color-4);
}

.select-dropdown-item.selected {
  background-color: var(--base-color-4);
  color: var(--base-color-1);
}

.dropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.dropdown-tag-item {
  background-color: var(--base-color-6);
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.dropdown-tag-close {
  display: flex;
  align-items: center;
}

.select-search-box {
  margin: 5px 2px;
  padding: 11px 10px;
  input {
    outline: none;
  }
}

.select-search-box input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid var(--card-border);
  border-radius: 5px;
}

.info-member {
  max-width: 196px;
  .users-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
