.notification-card-wrapper {
  .icon-wrapper {
    width: 50px;
    height: 50px;
    border: 1px solid var(--base-color-2);
  }
  .label-wrapper {
    border-radius: 0px 6px 0px 6px;
  }
}

.time-tag-box {
  max-width: max-content;
  cursor: unset;
  border: 1px solid #eee;
  border-radius: 25px;
  background: #eee;
  color: var(--base-color);
  padding: 5px 10px;
  margin-right: 5px;
  white-space: nowrap;
}
