:root {
  --base-color-1: #05264e;
  --base-color-2: #66789c;
  --base-color-3: #4f5e64;
  --base-color-4: #eff3fc;
  --base-color-5: #f8faff;
  --base-color-6: #d8f1ff;
  --base-color-7: #eff7ff;
  --base-color-8: #f2f6fd;
  --base-color-9: #a0abb8;
  --base-color-10: #d5deff;
  --label-color-white: #fff;
  --label-green: #0db14b;
  --label-red: #ed5163;
  --bg-white: #fff;
  --bg-light-blue: #2289e6;
  --bg-light-gray: #f3f3f6;
  --bg-light-red: #f9ebea;
  --common-box-shadow: 0px 18px 40px rgb(25 15 9 / 10%);

  // jobs portal website
  --label-color-green: #85ff83;
  --base-box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
  --base-link-color: #3c65f5;
  --bg-link-color: #3c65f5;
  --base-border-color: #b4c0e0;
  --card-border: #e0e6f7;

  // new dashboard var
  --dashboard-common-shadow: 0 0 15px 0 rgb(0 0 0 / 9%);
}
